# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
*.egg-info/
.eggs/
dist/
build/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Folders
images/
drawio/
videos/

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg

# Video files  
*.mp4
*.mov
*.avi
*.mkv

# Draw.io files
*.drawio

# Skyfield Files
*.bsp
